.collection-title {
    text-align: center;
    padding: 40px 0;
}

.collection-hero {
    @include adaptiv-value('margin-bottom', 75, 40, 1);
    .collection-hero__body {
        display: flex;
        align-items: center;
        gap: 60px;
        @media (max-width: $md2+px) {
            gap: 30px;
        }
        @media (max-width: $md3+px) {
            flex-direction: column;
        }
        .collection-hero__image {
            width: 100%;
            height: auto;
            @media (max-width: $md2+px) {
                width: 50%;
            }
            @media (max-width: $md3+px) {
                width: 65%;
            }
            @media (max-width: $md4+px) {
                width: 100%;
            }
        }
        .collection-hero__info {
            h1 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 30px;
            }
            .collection-info__block {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                h5 {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    span {
                        color: $accentcolor;
                        margin-left: 10px;
                    }
                }
                .collection-info__list {
                    .collection-info__item {
                        padding-left: 15px;
                        position: relative;
                        color: $accentcolor;
                        font-size: 22px;
                        font-weight: 500;
                        @media (max-width: $md2+px) {
                            font-size: 18px;
                        }
                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 40%;
                            transform: translateY(-50%);
                            width: 8px;
                            height: 2px;
                            background-color: $accentcolor;
                        }
                    }
                }
            }
            .collection-info__link {
                margin-top: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 22px;
                color: #423831;
                @media (max-width: $md2+px) {
                    margin-top: 30px;
                }
                svg {
                    transform: translateY(-3px);
                    margin-left: 10px;
                }
            }
        }
    }
}

.collection-description {
    @include adaptiv-value('margin-bottom', 75, 40, 1);
    .collection-description__text {
        border-top: 1px solid $accentcolor;
        padding-top: 30px;
        max-width: 920px;
        margin: 0 auto;
        margin-bottom: 150px;
        p {
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.swiper-button-disabled {
    opacity: 0.5;
}
