// @mixin adaptiv_font($pcSize, $mobSize) {
//     $addSize: $pcSize - $mobSize;
//     $addMobSize: $addSize + $addSize * 0.7;
//     @media (max-width: 767px) {
//         font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
//     }
//     @media (max-width: 767px) {
//         font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
//     }
// }

$maxWidth: 1920;
$maxWidthContainer: 1110;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})
            );
        }
    } @else if $type==2 {
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})
            );
        }
    } @else {
        #{$property}: calc(
            #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})
        );
    }
}

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../fonts/#{$file_name}.woff') format('woff'),
            url('../fonts/#{$file_name}.woff2') format('woff2');
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
