.single {
    @include adaptiv-value('padding-top', 100, 40, 1);
    &__thumbnail {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
    &__title {
        @include adaptiv-value('font-size', 50, 32, 1);
        margin: 40px 0;
        text-align: center;
    }
    &__content {
        max-width: 730px;
        margin: 0 auto;
        p {
            line-height: 27px;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        img {
            margin: 30px 0;
            width: 100%;
            @include adaptiv-value('height', 400, 300, 1);
            object-fit: cover;
        }
    }
    &__social {
        max-width: 730px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 80px;
        a {
            &:not(:last-child) {
                margin-right: 30px;
            }
            img {
                width: 30px;
                height: 30px;
                transition: transform .3s;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    }
}
