.taste {
    .taste-title {
        text-align: center;
        margin-bottom: 14px;
        font-weight: 800;
        font-size: 38px;
        line-height: 52px;
        color: #000000;
    }
    .taste-subtitle {
        margin: 0 auto;
        margin-bottom: 100px;
        max-width: 730px;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: #000000;
    }
    .taste-descr {
        .taste-descr__block {
            display: flex;
            @media(max-width: $md1+px) {
                display: block;
            }
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                @media(max-width: $md1+px) {
                    width: 70%;
                }
            }
            &.invers {
                img {
                    order: 1;
                    @media(max-width: $md1+px) {
                        margin: 0 auto;
                    }
                }
                .descr-block__info {
                    padding: 68px 20px 0 0;
                    @media(max-width: $md1+px) {
                        padding: 0;
                        margin: 50px 0 30px 0;
                    }
                }
            }
            .descr-block__info {
                padding: 76px 0 0 27px;
                @media(max-width: $md1+px) {
                    padding: 0;
                    margin: 50px 0 30px 0;
                }
                p {
                    text-align: center;
                    color: #000000;
                }
            }
        }
    }
}

.taste-form__header {
    width: 100%;
    height: 567px;
    margin-top: 145px;
    @media (max-width: $md2+px) {
        height: 500px;
    }
    @media (max-width: $md3+px) {
        height: 500px;
    }
    .page-title {
        margin: 0;
    }
    h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 800;
        font-size: 50px;
        line-height: 68px;
        color: #FFFFFF;
    }
}

.taste-form__body {
    transform: translateY(-100px);
    margin-bottom: -100px;
    max-width: 918px;
    margin: 0 auto;
    @media (max-width: $md2+px) {
        transform: none;
        margin-bottom: 50px;
    }
    .taste-form {
        display: grid;
        background-color: #FFFFFF;
        padding: 32px 27px;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 span;
        gap: 35px 108px;
        filter: drop-shadow(2px 5px 13px rgba(0, 0, 0, 0.25));
        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
            .form-body__lable {
                grid-column: 2 span;
            }
        }
        .choice-selector {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            @media (max-width: 640px) {
                grid-column: 2 span;
            }
            .choice-selector__block {
                position: relative;
                @media (max-width: $md4+px) {
                    grid-column: 3 span;
                }
            }
            .form-body__lable {
                grid-column: 3 span;
            }
            .choice-list {
                position: absolute;
                z-index: 10;
                top: 105%;
                left: 0;
                width: 100%;
            }
            .choice-list {
                box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                max-height: 0;
                transition: .3s ease-in-out;
                &.open {
                    max-height: 320px;
                    overflow: auto;
                }
                li {
                    position: relative;
                    background-color: #FAFCFD;
                    padding: 15px;
                    cursor: pointer;
                    transition: background-color .3s;
                    opacity: 1;
                    &:hover {
                        background-color: $accentcolor;
                        color: #fff;
                    }
                    &.closed {
                        max-height: 0;
                        overflow: hidden;
                        padding: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }
}