.horizontal-wrapper {
    margin-top: -75px;
    &__menu {
        padding: 40px 0;
        padding-left: 100px;
        .menu-list {
            display: flex;
            align-items: center;
            gap: 70px;
            &__item {
                position: relative;
                &.active {
                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $maincolor;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        transition: 0.3s;
                    }
                }
                .menu-list__link {
                    color: #423831;
                }
            }
        }
    }
   &.sticky{
    position: sticky;
    z-index: 10000;
    top: 0px;
    background-color: #fff;
   }
}

.technology-title {
    display: flex;
    align-items: center;
    justify-content: center;
    widows: 100%;
    height: 900px;
    h2 {
        font-size: 68px;
        line-height: 93px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.technology-posts {
    max-width: 1300px;
    margin: 150px auto;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2 span;
        grid-gap: 200px 150px;
        place-items: center;
        .technology-post {
            &:nth-child(3n + 0) {
                width: 80%;
                grid-column: 2 span;
                display: flex;
                justify-content: center;
                align-items: center;
                .technology-post__content {
                    transform: translateX(-150px);
                    margin-right: -150px;
                }
            }
            img {
                width: 100%;
            }
            &__content {
                width: 95%;
                margin: 0 auto;
                background-color: #F8F8F8;
                padding: 30px 17px;
                transform: translateY(-100px);
                margin-bottom: -100px;
                h3 {
                    font-weight: 800;
                    color: #000000;
                    margin-bottom: 10px;
                }
                p {
                    color: #000000;
                }
            }
        }
    }
}
