<footer class="footer" data-aos="fade-up" data-aos-duration="2000">
    <div class="container footer__container">
        <div class="footer-content">
            <div class="footer-column">
                <h5>Produse</h5>
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Divin</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Brandy</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Bautura alcoolica tare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Rachiu de vin</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Vin perlante</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Decorativ</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Cutie suvenir</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Pocale</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Catalogul produselor</a></li>
                </ul>
            </div>
    
            <div class="footer-column">
                <h5>Tehnologia</h5>
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Plantatii</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Distilare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Maturare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Cupajare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Odihna</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Turnare in sticle</a></li>
                </ul>
            </div>
    
            <div class="footer-logo">
                <a href="#">
                    <img src="img/footer-logo.png" alt="logo-dark">
                </a>
            </div>
    
            <div class="footer-column">
                <h5>Produse</h5>
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Divin</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Brandy</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Bautura alcoolica tare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Rachiu de vin</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Vin perlante</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Decorativ</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Cutie suvenir</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Pocale</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Catalogul produselor</a></li>
                </ul>
            </div>
    
            <div class="footer-column">
                <h5>Tehnologia</h5>
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Plantatii</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Distilare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Maturare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Cupajare</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Odihna</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-list__link">Turnare in sticle</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-socials">
            <div class="social-block">
                <a href="#">
                    <img src="img/fb.svg" alt="facebook">
                </a>
                <a href="#">
                    <img src="img/tw.svg" alt="twitter">
                </a>
                <a href="#">
                    <img src="img/ig.svg" alt="instagram">
                </a>
                <a href="#">
                    <img src="img/yt.svg" alt="youtube">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <p>© 2021 Călărași-Divin</p>
    </div>
</footer>
