<header class="header white" id="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/">
                <img class="white-logo" src="img/logo-white.png" alt="logo white">
                <img class="dark-logo" src="img/logo-dark.png" alt="logo dark">
            </a>
        </div>

        <nav class="navbar">
            <ul class="navbar__menu">
                <li class="menu__item active"><a href="../about.html" class="menu__link">Despre Noi</a></li>
                <li class="menu__item">
                    <a href="../technology.html" class="menu__link">Tehnologie</a>
                    <ul class="submenu-list">
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">Plantatii</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">Distilare</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">Maturare</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">Cupajare</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">Odihna</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">Turnarea in sticle</a></li>
                    </ul>
                </li>
                <li class="menu__item"><a href="../performance.html" class="menu__link">Performanta</a></li>
                <li class="menu__item"><a href="../blog.html" class="menu__link">Noutati</a></li>
                <li class="menu__item">
                    <a href="../product-single.html" class="menu__link">Produse</a>
                    <ul class="submenu-list">
                        <li class="submenu-list__item with-sublist">
                            <a href="#" class="submenu-list__link ">DIVIN</a>
                            <ul class="small-list">
                                <li class="small-list__item"><a href="#">Colecția De Aur De Elită</a></li>
                                <li class="small-list__item"><a href="#">Colecția De Aur</a></li>
                                <li class="small-list__item"><a href="#">Status Regal</a></li>
                                <li class="small-list__item"><a href="#">Special Collection</a></li>
                                <li class="small-list__item"><a href="#">Aurum</a></li>
                                <li class="small-list__item"><a href="#">Legenda</a></li>
                                <li class="small-list__item"><a href="#">Orfeu</a></li>
                                <li class="small-list__item"><a href="#">Legenda Mini</a></li>
                            </ul>
                        </li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">BRANDY</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">BAUTURA ALCOOLICA TARE</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">RACHIU DE VIN</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">VINURI PERLANTE</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">DECORATIVE</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">CUTIE SUVENIRE</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">POCALE</a></li>
                        <li class="submenu-list__item"><a href="#" class="submenu-list__link">CATALOGUL PRODUSELOR</a></li>
                    </ul>
                </li>
                <li class="menu__item"><a href="../taste.html" class="menu__link">Degustare</a></li>
                <li class="menu__item"><a href="../contact.html" class="menu__link">Contacte</a></li>
            </ul>
        </nav>

        <div class="language">
            <span class="current-lang">
                RO 
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.07273 3L2 4.21337L8 11L14 4.21337L12.9273 3L8 8.57326L3.07273 3Z" fill="#F5EEDB"/>
                </svg>
            </span>
            <div class="language-dropdown ">
                <a href="#">EN</a>
                <a href="#">RU</a>
            </div>
        </div>

        <button type="button" class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>