.page-title {
    width: 100%;
    height: 520px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 90px;
    margin-bottom: 75px;
    h1 {
        font-weight: 500;
        max-width: 800px;
        font-size: 68px;
        line-height: 135%;
        color: #ffffff;
    }
}
